In [1]:
import openai
import json
import re

In [2]:
openai.api_key = "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" ## the first key weixuzhang
openai.api_key = "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" ## the second key weixuzhang
openai.api_key = "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" ## the lab key

In [3]:
import openai
from openai import OpenAI
client = OpenAI(api_key = "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")

response = client.chat.completions.create(
  model="gpt-4",
  messages=[
    {
      "role": "system",
      "content": "Given the following SQL tables, your job is to write queries given a userâ€™s request.\n    \n    CREATE TABLE Orders (\n      OrderID int,\n      CustomerID int,\n      OrderDate datetime,\n      OrderTime varchar(8),\n      PRIMARY KEY (OrderID)\n    );\n    \n    CREATE TABLE OrderDetails (\n      OrderDetailID int,\n      OrderID int,\n      ProductID int,\n      Quantity int,\n      PRIMARY KEY (OrderDetailID)\n    );\n    \n    CREATE TABLE Products (\n      ProductID int,\n      ProductName varchar(50),\n      Category varchar(50),\n      UnitPrice decimal(10, 2),\n      Stock int,\n      PRIMARY KEY (ProductID)\n    );\n    \n    CREATE TABLE Customers (\n      CustomerID int,\n      FirstName varchar(50),\n      LastName varchar(50),\n      Email varchar(100),\n      Phone varchar(20),\n      PRIMARY KEY (CustomerID)\n    );"
    },
    {
      "role": "user",
      "content": "Write a SQL query which computes the average total order value for all orders on 2023-04-01."
    }
  ],
  temperature=0,
  max_tokens=200,
  top_p=1
)

print(response.choices[0].message.content)

To compute the average total order value for all orders on 2023-04-01, we need to join the Orders, OrderDetails, and Products tables. We will sum the product of Quantity and UnitPrice for each order, and then compute the average of these sums.

Here is the SQL query:

    SELECT AVG(TotalOrderValue) AS AverageOrderValue
    FROM (
        SELECT Orders.OrderID, SUM(OrderDetails.Quantity * Products.UnitPrice) AS TotalOrderValue
        FROM Orders
        JOIN OrderDetails ON Orders.OrderID = OrderDetails.OrderID
        JOIN Products ON OrderDetails.ProductID = Products.ProductID
        WHERE Orders.OrderDate = '2023-04-01'
        GROUP BY Orders.OrderID
    ) AS OrderValues;

In [9]:
with open('serialized_str_train.json', 'r') as file:
    interactions = json.load(file)

instruction='''
You are a data synthesizer responsible for generating visualization code from natural language input, based on a set of interactions and a provided database schema. Please follow the steps below: 
1. Create vega-lite visualizations that correspond to the given interactions, which consist of natural language questions and their corresponding SQL queries.
2. Output the data in JSON format as a list of dictionaries, with each dictionary containing two features: the natural language query and the visualization code. The visualization code should include some data, but avoid including excessive amounts(no more than 20 data points).
3. Please provide the JSON format only, without any accompanying text explanations. The output should be a valid JSON code that can be executed without any issues.
'''

example = '''
Here's an example of the desired JSON structure:
[
    {
        "query": "What are all the airlines?",
        "code": {
            "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
            "data": {
                "values": [
                    {"Airline": "JetBlue Airways", "Country": "United States"},
                    {"Airline": "Delta Air Lines", "Country": "United States"},
                    {"Airline": "American Airlines", "Country": "United States"},
                    {"Airline": "United Airlines", "Country": "United States"}
                ]
            },
            "mark": "bar",
            "encoding": {
                "x": {"field": "Airline", "type": "nominal"},
                "y": {"aggregate": "count", "type": "quantitative"}
            }
        }
    },
    {
        "query": "Of these, which is Jetblue Airways?",
        "code": {
            "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
            "data": {
                "values": [
                    {"Airline": "JetBlue Airways", "Country": "United States"}
                ]
            },
            "mark": "bar",
            "encoding": {
                "x": {"field": "Airline", "type": "nominal"},
                "y": {"aggregate": "count", "type": "quantitative"}
            }
        }
    },
    {
        "query": "What is the country corresponding it?",
        "code": {
            "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
            "data": {
                "values": [
                    {"Country": "United States"}
                ]
            },
            "mark": "bar",
            "encoding": {
                "x": {"field": "Country", "type": "nominal"},
                "y": {"aggregate": "count", "type": "quantitative"}
            }
        }
    }
]
The interactions and database schema corresponding to this example are:
interactions: | What are all the airlines? | SELECT * FROM AIRLINES | Of these, which is Jetblue Airways? | SELECT * FROM AIRLINES WHERE Airline  =  \"JetBlue Airways\" | What is the country corresponding it? | SELECT Country FROM AIRLINES WHERE Airline  =  \"JetBlue Airways\" 
serialized_schema: | flight_2 | airlines : uid , airline , abbreviation , country | airports : city , airportcode , airportname , country , countryabbrev | flights : airline , flightno , sourceairport , destairport
Now, please generate the JSON output based on following interactions and database schema.
'''
debug = "This output is not a valid JSON code and can't be parsed directly to a json object. Can you refine it according to the error message? Please provide the json ONLY, without any accompanying text explanations. "
print(len(interactions))
#results,predictions = [],[]

for interaction in interactions[302:]: 
    #messages = [{"role": "system", "content": instruction},{"role": "user", "content": interaction}] 
    messages = [{"role": "system", "content": instruction},{"role": "system", "content": example},{"role": "user", "content": interaction}] 

    def generate_chat_response(messages):
        while True:
            try:
                completion = openai.ChatCompletion.create(
                    model="gpt-3.5-turbo",
                    messages=messages,
                    temperature=0.2,
                    max_tokens=2000,
                    timeout=600,
                )
                chat_response= completion.choices[0].message.content
                return chat_response
            except Exception as e:
                error_message = "An error occurred: " + str(e)
                print(error_message)

    def process_chat_response(chat_response):
        while True:
            json_matches = re.findall(r"```(.*?)```", chat_response, re.DOTALL)
            json_str = json_matches[0].strip().replace("json", "") if json_matches else chat_response
            cleaned_json = re.sub(r'([{,])(\s*)([a-zA-Z0-9_]+)\s*:', r'\1"\3":', json_str)
            try:
                lst = json.loads(cleaned_json)
                return lst
            except Exception as e:
                error_message = "An error occurred: " + str(e)
                print(error_message)
                messages = [{"role": "system", "content": instruction},{"role": "user", "content": interaction}] 
                # messages.append({"role": "assistant", "content": chat_response})
                # messages.append({"role": "user", "content": debug + error_message})
                chat_response= generate_chat_response(messages)

    chat_response= generate_chat_response(messages)
    lst = process_chat_response(chat_response)
    results.append({"input": interaction, "output": lst})
    predictions.append(lst)
    print(len(predictions))
    with open("result_vis_interactions_train.json", "w") as file:
        json.dump(results, file, indent=4)
    with open("predictions_vis_interactions_train.json", "w") as file:
        json.dump(predictions, file, indent=4)

with open("result_vis_interactions_train.json", "w") as file:
    json.dump(results, file, indent=4)
with open("predictions_vis_interactions_train.json", "w") as file:
    json.dump(predictions, file, indent=4)

3034
303
304
305
306
307
308
309
310
311
312
313
314
An error occurred: That model is currently overloaded with other requests. You can retry your request, or contact us through our help center at help.openai.com if the error persists. (Please include the request ID 452fd027fb44884c77962324eec2e98a in your message.)
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
An error occurred: Expecting value: line 47 column 17 (char 1738)
333
334
335
336
337
338
339
340
341
An error occurred: That model is currently overloaded with other requests. You can retry your request, or contact us through our help center at help.openai.com if the error persists. (Please include the request ID 77486ff4ded4175d497caa03647f6109 in your message.)
342
343
344
345
346
347
348
349
350
351
An error occurred: Expecting value: line 28 column 17 (char 909)
352
353
354
An error occurred: That model is currently overloaded with other requests. You can retry your request, or contact us through our help center at help.openai.com if the error persists. (Please include the request ID 8c9b4fc91b205e5e581a1ed133a5849d in your message.)
355
356
357
358
359
360
361
362
363
364
365
366
367
368
An error occurred: That model is currently overloaded with other requests. You can retry your request, or contact us through our help center at help.openai.com if the error persists. (Please include the request ID 2c3dd3ba387302c6681f2aeb7890e8ca in your message.)
369
370
371
372
An error occurred: Expecting value: line 41 column 20 (char 6027)
373
374
375
An error occurred: Expecting value: line 27 column 294 (char 6043)
376
An error occurred: Expecting value: line 27 column 294 (char 6043)
377
An error occurred: Unterminated string starting at: line 40 column 24 (char 6017)
378
379
An error occurred: Expecting property name enclosed in double quotes: line 27 column 276 (char 6044)
380
An error occurred: Unterminated string starting at: line 40 column 24 (char 5998)
381
382
An error occurred: Expecting value: line 27 column 294 (char 6046)
383
An error occurred: Unterminated string starting at: line 40 column 24 (char 5997)
384
An error occurred: Expecting value: line 27 column 293 (char 6049)
An error occurred: Expecting property name enclosed in double quotes: line 235 column 1 (char 7649)
An error occurred: Expecting property name enclosed in double quotes: line 235 column 1 (char 10333)
385
386
387
An error occurred: Unterminated string starting at: line 48 column 56 (char 5804)
388
389
390
391
392
An error occurred: Expecting value: line 251 column 1 (char 10442)
An error occurred: Expecting value: line 250 column 36 (char 10466)
An error occurred: Expecting value: line 251 column 1 (char 7991)
An error occurred: Expecting value: line 251 column 1 (char 10451)
393
An error occurred: Expecting value: line 251 column 37 (char 10443)
An error occurred: Unterminated string starting at: line 235 column 58 (char 10205)
394
395
396
An error occurred: Expecting property name enclosed in double quotes: line 43 column 204 (char 6073)
An error occurred: Unterminated string starting at: line 42 column 238 (char 5750)
An error occurred: Expecting value: line 42 column 264 (char 6081)
397
398
An error occurred: Expecting property name enclosed in double quotes: line 43 column 209 (char 6082)
399
400
401
402
403
404
An error occurred: Expecting value: line 251 column 20 (char 10457)
405
406
407
An error occurred: That model is currently overloaded with other requests. You can retry your request, or contact us through our help center at help.openai.com if the error persists. (Please include the request ID d27c671704160355b94e6af491aa5506 in your message.)
408
409
An error occurred: Expecting property name enclosed in double quotes: line 43 column 233 (char 6063)
An error occurred: Expecting value: line 41 column 29 (char 1258)
410
An error occurred: Expecting value: line 42 column 294 (char 6052)
411
An error occurred: Expecting property name enclosed in double quotes: line 43 column 183 (char 6239)
An error occurred: Unterminated string starting at: line 67 column 22 (char 6484)
An error occurred: Unterminated string starting at: line 44 column 166 (char 6389)
An error occurred: Unterminated string starting at: line 44 column 210 (char 6172)
412
An error occurred: Unterminated string starting at: line 76 column 18 (char 6607)
An error occurred: Expecting ',' delimiter: line 76 column 1 (char 6487)
An error occurred: Expecting property name enclosed in double quotes: line 42 column 221 (char 6252)
An error occurred: Expecting property name enclosed in double quotes: line 42 column 221 (char 6252)
An error occurred: Unterminated string starting at: line 43 column 153 (char 6048)
An error occurred: Unterminated string starting at: line 76 column 9 (char 6625)
An error occurred: Expecting value: line 72 column 52 (char 6637)
An error occurred: Expecting property name enclosed in double quotes: line 53 column 1 (char 5963)
An error occurred: Unterminated string starting at: line 76 column 9 (char 6622)
An error occurred: Expecting property name enclosed in double quotes: line 43 column 229 (char 6129)
An error occurred: Expecting property name enclosed in double quotes: line 43 column 229 (char 6129)
An error occurred: Unterminated string starting at: line 43 column 230 (char 6130)
An error occurred: Unterminated string starting at: line 43 column 194 (char 6241)
An error occurred: Unterminated string starting at: line 61 column 36 (char 6331)
An error occurred: Unterminated string starting at: line 44 column 65 (char 6062)
An error occurred: Unterminated string starting at: line 44 column 42 (char 6107)
An error occurred: Unterminated string starting at: line 44 column 78 (char 6086)
An error occurred: Expecting value: line 70 column 58 (char 6736)
An error occurred: Expecting property name enclosed in double quotes: line 43 column 229 (char 6129)
An error occurred: Expecting value: line 44 column 169 (char 6285)
An error occurred: Unterminated string starting at: line 43 column 170 (char 6314)
An error occurred: Unterminated string starting at: line 44 column 143 (char 6156)
An error occurred: Unterminated string starting at: line 42 column 214 (char 5927)
An error occurred: Unterminated string starting at: line 43 column 141 (char 6299)
An error occurred: Unterminated string starting at: line 62 column 66 (char 6339)
An error occurred: Expecting property name enclosed in double quotes: line 43 column 229 (char 6129)
An error occurred: Unterminated string starting at: line 44 column 170 (char 6286)
An error occurred: Expecting property name enclosed in double quotes: line 43 column 229 (char 6129)
An error occurred: That model is currently overloaded with other requests. You can retry your request, or contact us through our help center at help.openai.com if the error persists. (Please include the request ID d4849a19340a47714f0a9d0214e6e1d5 in your message.)
An error occurred: That model is currently overloaded with other requests. You can retry your request, or contact us through our help center at help.openai.com if the error persists. (Please include the request ID f4c734e75811a54be118c9a648153904 in your message.)
An error occurred: Unterminated string starting at: line 43 column 194 (char 6241)
An error occurred: Expecting ',' delimiter: line 75 column 1 (char 6481)
An error occurred: Unterminated string starting at: line 43 column 194 (char 6241)
An error occurred: Expecting property name enclosed in double quotes: line 43 column 229 (char 6129)
An error occurred: Expecting property name enclosed in double quotes: line 43 column 229 (char 6129)
An error occurred: Expecting property name enclosed in double quotes: line 43 column 229 (char 6129)
An error occurred: Unterminated string starting at: line 43 column 141 (char 6299)
An error occurred: Expecting property name enclosed in double quotes: line 42 column 221 (char 6252)
An error occurred: Unterminated string starting at: line 76 column 9 (char 6622)
An error occurred: Unterminated string starting at: line 73 column 31 (char 6641)
An error occurred: Expecting property name enclosed in double quotes: line 43 column 66 (char 6019)
An error occurred: Expecting property name enclosed in double quotes: line 43 column 229 (char 6129)
An error occurred: Unterminated string starting at: line 48 column 23 (char 6352)
An error occurred: Unterminated string starting at: line 44 column 78 (char 6086)
An error occurred: Unterminated string starting at: line 73 column 31 (char 6641)
An error occurred: Unterminated string starting at: line 43 column 194 (char 6241)
An error occurred: Unterminated string starting at: line 43 column 194 (char 6241)
An error occurred: Unterminated string starting at: line 63 column 78 (char 6399)
An error occurred: Unterminated string starting at: line 44 column 78 (char 6100)
An error occurred: Unterminated string starting at: line 43 column 153 (char 6048)
An error occurred: That model is currently overloaded with other requests. You can retry your request, or contact us through our help center at help.openai.com if the error persists. (Please include the request ID 4707357326014eace609cfb51783eac6 in your message.)
An error occurred: Expecting property name enclosed in double quotes: line 72 column 49 (char 6630)
An error occurred: Expecting property name enclosed in double quotes: line 72 column 48 (char 6631)
An error occurred: Expecting value: line 72 column 52 (char 6640)
An error occurred: Expecting property name enclosed in double quotes: line 42 column 221 (char 6252)
413
An error occurred: Expecting value: line 44 column 169 (char 6258)
An error occurred: Unterminated string starting at: line 43 column 141 (char 6294)
An error occurred: Unterminated string starting at: line 43 column 182 (char 6267)
414
An error occurred: Unterminated string starting at: line 82 column 42 (char 6892)
415
An error occurred: Unterminated string starting at: line 43 column 186 (char 6002)
416
417
418
An error occurred: Unterminated string starting at: line 250 column 22 (char 10431)
An error occurred: Expecting property name enclosed in double quotes: line 59 column 270 (char 6589)
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
An error occurred: Expecting value: line 48 column 17 (char 2097)
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
An error occurred: Expecting value: line 1 column 1 (char 0)
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
An error occurred: Expecting ',' delimiter: line 9 column 21 (char 288)
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
An error occurred: Expecting value: line 49 column 17 (char 1661)
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
An error occurred: Expecting value: line 28 column 18 (char 1257)
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
An error occurred: Expecting value: line 27 column 17 (char 1104)
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
An error occurred: Expecting value: line 27 column 17 (char 907)
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
An error occurred: Expecting property name enclosed in double quotes: line 8 column 49 (char 265)
846
847
848
849
850
851
852
853
854
855
856
857
An error occurred: Unterminated string starting at: line 184 column 22 (char 8529)
858
859
860
An error occurred: Expecting value: line 186 column 20 (char 8577)
861
862
863
864
865
866
An error occurred: Unterminated string starting at: line 107 column 46 (char 8175)
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
An error occurred: Expecting value: line 34 column 17 (char 1152)
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
An error occurred: Expecting value: line 28 column 17 (char 831)
980
981
An error occurred: Expecting value: line 35 column 17 (char 1173)
982
983
984
985
986
987
988
989
990
991
992
993
An error occurred: Unterminated string starting at: line 202 column 32 (char 9713)
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
An error occurred: Request timed out: HTTPSConnectionPool(host='api.openai.com', port=443): Read timed out. (read timeout=600)
An error occurred: Error communicating with OpenAI: HTTPSConnectionPool(host='api.openai.com', port=443): Max retries exceeded with url: /v1/chat/completions (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fd294b725e0>: Failed to establish a new connection: [Errno 101] Network is unreachable'))
An error occurred: Error communicating with OpenAI: HTTPSConnectionPool(host='api.openai.com', port=443): Max retries exceeded with url: /v1/chat/completions (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fd294b723a0>: Failed to establish a new connection: [Errno 101] Network is unreachable'))
An error occurred: Error communicating with OpenAI: HTTPSConnectionPool(host='api.openai.com', port=443): Max retries exceeded with url: /v1/chat/completions (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fd294b5d040>: Failed to establish a new connection: [Errno 101] Network is unreachable'))
An error occurred: Error communicating with OpenAI: HTTPSConnectionPool(host='api.openai.com', port=443): Max retries exceeded with url: /v1/chat/completions (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fd294b5d160>: Failed to establish a new connection: [Errno 101] Network is unreachable'))
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
An error occurred: Unterminated string starting at: line 246 column 34 (char 10450)
1035
1036
1037
1038
1039
1040
1041
An error occurred: Unterminated string starting at: line 125 column 22 (char 7609)
1042
An error occurred: Unterminated string starting at: line 191 column 30 (char 9282)
1043
1044
1045
An error occurred: Unterminated string starting at: line 187 column 30 (char 9409)
1046
1047
1048
1049
1050
1051
1052
An error occurred: Expecting value: line 28 column 17 (char 928)
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
An error occurred: Unterminated string starting at: line 132 column 102 (char 7856)
1065
1066
1067
1068
An error occurred: Expecting value: line 9 column 17 (char 265)
1069
1070
1071
1072
1073
1074
An error occurred: Expecting value: line 9 column 17 (char 271)
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
An error occurred: Unterminated string starting at: line 32 column 80 (char 5508)
1101
An error occurred: Unterminated string starting at: line 40 column 124 (char 5922)
1102
1103
1104
1105
1106
1107
1108
An error occurred: Unterminated string starting at: line 130 column 22 (char 8017)
1109
1110
1111
1112
1113
An error occurred: That model is currently overloaded with other requests. You can retry your request, or contact us through our help center at help.openai.com if the error persists. (Please include the request ID ab9532494b411c18b43b08333daba864 in your message.)
1114
1115
1116
1117
An error occurred: Unterminated string starting at: line 32 column 116 (char 5462)
1118
1119
1120
An error occurred: Unterminated string starting at: line 226 column 34 (char 9773)
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
An error occurred: Unterminated string starting at: line 50 column 69 (char 5781)
1133
An error occurred: Unterminated string starting at: line 50 column 68 (char 5783)
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
An error occurred: Expecting value: line 9 column 17 (char 277)
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
An error occurred: Expecting value: line 59 column 17 (char 2331)
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
An error occurred: Expecting ',' delimiter: line 161 column 46 (char 7058)
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
An error occurred: Expecting value: line 202 column 1 (char 11998)
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
An error occurred: Expecting value: line 1 column 1 (char 0)
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
An error occurred: Expecting value: line 27 column 17 (char 918)
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
An error occurred: Expecting value: line 69 column 17 (char 2539)
1433
1434
1435
1436
An error occurred: Expecting value: line 29 column 17 (char 1196)
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
An error occurred: That model is currently overloaded with other requests. You can retry your request, or contact us through our help center at help.openai.com if the error persists. (Please include the request ID 0605fb1f68a66cacf8a6b4a35266c203 in your message.)
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
An error occurred: Unterminated string starting at: line 116 column 22 (char 8578)
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525

In [6]:
print(len(predictions))

238

In [ ]:
examples=[]
examples.append("INPUT: "+  interaction +"| OUTPUT: "+ chat_response)
with open("example.json", "w") as file:
    json.dump(examples, file, indent=4)

In [10]:
print(len(predictions))
with open("result_vis_interactions_train.json", "w") as file:
    json.dump(results, file, indent=4)
with open("predictions_vis_interactions_train.json", "w") as file:
    json.dump(predictions, file, indent=4)

3034